body {
    background-color: #d4d4d4;
    margin: 0;
    padding: 0;
    font-family: "open-sans", Arial, Helvetica, sans-serif;
    overflow-x: hidden;
    font-weight: lighter;
}

#top-bar {
    background-color: #d4d4d4;
    margin: 10px;
    align-items: center;
    justify-content: center;
    font-size: small;
}

#top-bar p {
    align-self: center;
    justify-self: center;
}

#navbar {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content:center;
    padding: 10px;
    margin: 0px;
    padding: 0;
    font-weight: lighter;
}

#logo img {
    width: 150px; 
    height: auto; 
    margin-right: 100px;
    padding: 10px;
}

#navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

#navbar li {
    float: left;
}

#navbar li a {
    display: inline;
    color: #000000;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    line-height: normal;
    vertical-align: middle;
}

#navbar li a:hover {
    color: #3da9d4;
}

#navbar ul li a#SignButt {
    display: inline-block;
    background-color: #00AEEF;
    color: #ffffff; 
    padding: 4px 6px;
    text-decoration: none;
    cursor: pointer;
    margin-left: 10px;
    vertical-align: middle;
}

#cover {
    margin: 0;
    padding: 0;
    background-color: #1E73BE;
    display: flex;
    align-items: center;
}

#cover img {
    width:100%;
    height: auto;
    margin-top: 5rem;
    object-fit: contain;
    margin-left: 20rem;
}

#cover-text {
    margin-left: 15rem;
    color: #ffffff;

}

#cover-text button {
    border: white solid 2px;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
    margin: 10px;
}

#sign-up-cover {
    background-color: #ffffff8e;
    justify-content: center;
    align-items: center;
}

#sign-up-cover:hover {
    background-color: #ffffff00;
    color: white;
    transition-duration: 0.5s;
}

#demo-cover {
    background-color: #ffffff00;
    color: white;
    justify-content: center;
    align-items: center;
}

#demo-cover:hover {
    background-color: #000000;
    transition-duration: 0.5s;
}

#carousel {
    width: 100%;
    overflow: hidden;
    background-color: #f0f0f0;
    padding: 20px 0;
    display: flex;
    justify-content: center;
}

#carousel-container {
    display: flex;
    width: calc(200%);
    animation: scroll 30s linear infinite;
}

#carousel-container img {
    width: calc(150% / 14); 
    height: auto;
    margin-left: 50px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#features {
    background-color: #ffffff;
    margin: 0%;
    padding: 0px;
}

#heading {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
}

#feature-1 {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

#feature-1-text {
    margin-left: 15px;
}

#feature-1-text h3 {
    color: #00A3FF;
}

#feature-1-img img {
    width: 500px;
    height: auto;
}

#feature-2 {
    margin: 0px;
    padding: 0px;
    background-color: #EEF9FF;
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature-2-text {
    margin-left: 30px;
}

#feature-2-text h3 {
    color: #00A3FF;
}

#feature-3 {
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature-3-text {
    margin-left: 15px;
}

#feature-3-text h3 {
    color: #00A3FF;
}

#feature-4 {
    margin: 0px;
    padding: 0px;
    background-color: #EEF9FF;
}

#feature-4-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature-4-text {
    margin-left: 15px;
}

#feature-4-text h3 {
    color: #00A3FF;
}

#read-button {
    text-align: center;
    padding: 30px;
}

#read-button button {
    background-color: #00A3FF;
    color: white;
    border: #00A3FF 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}

#read-button button:hover {
    color: #00A3FF;
    background-color: #ffffff;
    border: #00A3FF 2px solid;
    transition: 0.5s;
}

#sign-up {
    background-color: #0084E4;
    margin: 0px;
    padding: 0px;
}

#sign-up-text {
    text-align: center;
    margin: 0px;
    padding-top: 20px;
    color: white;
}

#sign-up-button {
    text-align: center;
    padding: 20px;
}

#sign-up-button button {
    background-color: white;
    color: #000000;
    border: #ffffff 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}

#feature-5 {
    display: flex;
    margin: 0px;
    padding: 0px;
    align-items: center;
    justify-content: center;
}

#feature-5-text {
    margin-left: 15px;
}

#feature-5-text h3 {
    color: #00A3FF;
}

#feature-5-img {
    margin: 30px;
}

#feature-5-img img {
    width: 500px;
    height: auto;
}

#read-button-1 button {
    background-color: #00A3FF;
    color: white;
    border: #00A3FF 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 20px;
}

#feature-6 {
    margin: 0px;
    padding: 0px;
    background-color: #EEF9FF;
}

#feature-6-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}

#feature-6-text {
    margin-left: 15px;
}

#feature-6-text h3 {
    color: #00A3FF;
}

#feature-6-img {
    margin: 30px;
}

#feature-6-img img {
    width: 500px;
    height: auto;
}

#award-text {
    text-align: center;
    justify-content: center;
}

#award-text h1 {
    margin: 20px;
}

#carousel-1-component {
    margin: 0px;
    padding: 0px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
}

#carousel-1 {
    width: 80%;
    overflow: hidden;
    background-color: #ffffff;
    padding: 20px;
    margin: 0 20px;
    display: flex;
    justify-content: center;
}

#carousel-container-1 {
    display: flex;
    width: calc(200%);
    animation: scroll 30s linear infinite;
}

#carousel-container-1 img {
    width: calc(150% / 14); 
    height: auto;
    margin-left: 50px;
    flex-shrink: 0;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

#left-arrow, #right-arrow {
    background-color: #ffffff;
    color: #000000;
    border: none;
    cursor: pointer;
    padding: 10px;
    border-radius: 50%;
    font-size: 18px;
}

#left-arrow:hover, #right-arrow:hover {
    background-color: #ececec;
}


.testimonials-section {
    padding: 0;
    margin-top: 0;
    background-color: #ffffff;
} 

.py-5{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.container {
    max-width: 100%;
}

#testimonialsCarousel .carousel-inner {
    width: 100%;
}

.testimonials-section h2 {
    text-align: center;
    margin-bottom: 3rem;
    font-size: 2.5rem;
    color: #333;
}

#testimonialsCarousel .carousel-item {
    max-width: 1000px; 
    margin: auto;
    padding: 0px;
}

#testimonialsCarousel blockquote {
    font-size: 1.5rem;
    color: #555;
    line-height: 1.5;
}

#testimonialsCarousel .carousel-caption {
    position: static;
    padding: 0;
    background: none;
}

#testimonialsCarousel .carousel-control-prev,
#testimonialsCarousel .carousel-control-next {
    filter: invert(100%);
}

.carousel-indicators {
    bottom: -30px;
}

.carousel-indicators li {
    background-color: #949494;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    margin: 2px;
}

.carousel-indicators .active {
    background-color: #017cff;
}
.carousel-item blockquote footer {
    
    margin-bottom: 100px;
    
}

.container{
   background-color: #4fc8f421;
   justify-content: center;
    text-align: center;
    margin: 0;
    padding: 100px;
}

.cards-carousel-section .card {
    margin-bottom: 30px;
    border : none;
}

.carousel-control-prev,
.carousel-control-next {
    width: 0%;
    background: none;
    color: grey;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-image: none;
}

.carousel-control-prev-icon::after,
.carousel-control-next-icon::after {
    content: '';
    border: solid grey;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 10px;
}

.carousel-control-prev-icon::after {
    transform: rotate(135deg); 
}

.carousel-control-next-icon::after {
    transform: rotate(-45deg); 
}

.carousel-control-prev {
    left: -30px;
}

.carousel-control-next {
    right: -30px;
}

.carousel-control-prev:hover .carousel-control-prev-icon,
.carousel-control-next:hover .carousel-control-next-icon {
    color: darkgrey;
}

.container-1{
    background-color: #ffffff;
    justify-content: center;
    text-align: center;
    margin: 0;
    padding: 0 300px;
}

#support-experience {
   background-color: #4fc8f421;
    justify-content: center;
    align-items: center;
}

#support {
    margin: 0 20rem;
    padding: 0 30px;
    align-items: center;
    justify-content: center;
    text-align:center;
}

#Sign-up-button {
    text-align: center;
    padding: 20px;
}

#Sign-up-button button{
    background-color: #00A3FF;
    color: white;
    border: #00A3FF 2px solid;
    padding: 10px 20px;
    text-decoration: none;
    cursor: pointer;
    border-radius: 40px;
}
